.login {
    margin: 0 auto;
    max-width: 400px;
    padding-top: 70px;

    &__body {
        padding: 20px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        h1 {
            text-align: center;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        & > * {
            border-radius: 10px;
        }
        input {
            padding: 10px;
            margin-bottom: 15px;
        }
        button {
            padding: 5px;
            font-weight: bold;
            font-size: 15px;
            color: green;
            &:hover {
                background: darkgrey;
                color: #fff;
            }
        }
    }
}
